<app-hijo
  (mensajeHijo)= "recibirMensaje($event)"
  (mensajeHijo2)= "recibirMensaje2($event)"
  (fraseHijo3)= "recibirFrase($event)"
  (numeroHijo)= "recibirNumero($event)"
  (booleanHijo)= "recibirBoolean($event)">
</app-hijo>

<h2><s>{{ mensajePadre }}</s>:</h2>
<i> {{ mensajePadre2 }} </i>
<h3>{{ frasePadre }}</h3>
<h2>{{ numeroPadre }}</h2>
<h2>{{ booleanPadre }}</h2>
